#controlPanel {
    height: 100%;
    width: 100%;
    background-color: darken(#dbdbdb, 25);
    padding: 2rem;

    .internalIDIndex {
        width: 100%;
        p {
            width: 100%;
            text-align: center;
        }
    }

    .btn-group-vertical {
        input {
            display: none;
        }
    }

    .labelled-landmark {
        background-color: lightgrey;
    }

    .labelling-flags.active,
    .ocr-details {
        background-color: rgb(0, 68, 255);
    }
}