#controlPanel {
    height: 100%;
    width: 100%;
    background-color: darken(#dbdbdb, 25);
    padding: 2rem;

    .btn-group-vertical {
        input {
            display: none;
        }
    }

    .labelling-flags.active {
        background-color: rgb(0, 68, 255);
    }
}